.mainMenu {
    justify-content: space-evenly;
    margin: 20px;
        a {
            color: white;
            font-size: 2rem;
            h1 {
                font-size: 4rem;
            }
        }
}