.adPostContainer{
    background-color: $secondaryBG;
    border-radius: $largeRadius;
    
    form {
        .inputLabelAd, .searchPic, .uploadAd, p {
            margin: 5px;
        }
        textarea {
            margin: 10px;
        }
        p  {
            font-size: 1.7rem;
            margin: 10px 0;
            font-weight: bold;
        }
    }
} 

.picChoice {
    height: 100px;
    width: 100px;
    padding: 0;
    img {
        max-height: 100%;
    }
}